<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js CRUD App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/19e0b2e47d.js"></script>

    <style type="text/css">
        #overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6)
        }
    
    </style>

</head>

<body>

    <div id="app">

        <div class="container-fluid">
            <div class="row bg-dark">
                <div class="col-lg-12">
                    <p class="text-center text-light display-4 pt-2" style="font-size: 25px;">CRUD Application Using
                        Vue.js, PHP and MySQLi</p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-6">
                    <h3 class="text-info">Register Users</h3>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-info float-right" @click="readModal=true">
                        <i class="fas fa-user"></i> Add New User
                    </button>
                </div>
            </div>

            <hr class="bg-info">

            <div class="alert alert-danger" v-if="errorMsg">{{errorMsg}}</div>
            <div class="alert alert-success" v-if="successMsg">{{successMsg}}</div>

            <!--Displaying Records-->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-stripped">
                        <thead>
                            <tr class="text-center bg-info text-light">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                <td><a href="#" class="text-success" @click="editModal = true; selectUser(user)"><i
                                            class="fas fa-edit"></i></a></td>
                                <td><a href="#" class="text-danger" @click="deleteModal=true; selectUser(user)"><i
                                            class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Read Data Modal-->
        <div id="overlay" v-if="readModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New User</h5>
                        <button type="button" class="close" @click="readModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" placeholder="Name"
                                    required v-model="newUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg"
                                    placeholder="Email" required v-model="newUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone"
                                    required v-model="newUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="addDataIfValid('insert')">Add
                                    User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--Edit Data Modal-->
        <div id="overlay" v-if="editModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit User</h5>
                        <button type="button" class="close" @click="editModal=false; window.location.reload()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" required
                                    v-model="currentUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" required
                                    v-model="currentUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" required
                                    v-model="currentUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="addDataIfValid('update')">Update
                                    User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--Delete Modal-->
        <div id="overlay" v-if="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete User</h5>
                        <button type="button" class="close" @click="deleteModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="text-danger">Are you sure want to delete {{currentUser.name}}?</h4>
                        <hr>
                        <button class="btn btn-danger btn-lg"
                            @click="deleteModal=false; deleteUser(); clearMessage()">Yes</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success btn-lg" @click="deleteModal=false">No</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="main.js"></script>

</body>

</html>